<% include ./partials/header.ejs %>
<link rel="stylesheet" href="/Assets/layout.css" >
    
        <% if (title == "Contact") { %>
        <% } %>
        <font size="5" >
            <!--used table to display contact information-->
    <table id="detail" > 
        <tr>
            <th>Name:</th>
            <th> kaivalkumar Patel</th>
        </tr>
        <tr>
            <th>
                E-mail:
            </th>
            <th>
                kaival1996@gmail.com
            </th>
        </tr>
        <tr>
            <th>
                Phone:
            </th>
            <th>
                647-515-2302
            </th>
        </tr>
    </table>
</font> 
<br>

<!--form for sending message-->

<form  method="post">
    <h1>Contact Me</h1>
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name">
    </div>
    <div>
      <label for="mail">E-mail:</label>
      <input type="email" id="mail" name="email">
    </div>
    <div>
      <label for="messag">Message:</label>
      <textarea id="messag" name="message"></textarea>
    </div>
    <br>
    <a class="btn btn-primary" href="/" role="button">Submit</a>
  </form>

<% include ./partials/footer.ejs %>
